 .fotos{
    display: grid;
    grid-template-columns: repeat(5,1fr);
 }
 .tamaño{
    height: 350px;
    width: 250px;
    border-radius: 50px;
  
 }
.pin{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.inicio{
   
margin: 10px; 
background-color: black;
color: white;
height: 45px;
width: 55px;
border-radius: 40%;
font-family:sans-serif;
}
.s2b{
 height: 45px;
 width: 65px;
 border-radius: 50px;
 margin: 5px;
 border: 0px;
 font-family: 'Gill Sans';
}

.buscador{
    border-radius: 50px;
 width: 800px;
 height: 40px;
 margin-left: 15px;
 background-color: rgb(221, 221, 221);
 border: 0px;
}

.derecha{
    height: 45px;
    width: 65px;
    border-radius: 50px;
    border: 0px;
    
}
.perfil{
 width: 35px;
 height: 35px;
 border-radius: 50px;
}
